@model CategoryViewModel
<head>
    <link rel="stylesheet" href="~/css/form.css" />
</head>
<div class="form-container">
    <form asp-controller = "Category" asp-action = "AddCategory" method="post">
        <input type="text" placeholder="name" asp-for="Name" /><span asp-validation-for="Name"></span>
        <button>Add Category</button>
    </form>
</div>
